body {
  background-color: hsl(257, 40%, 49%);
  background-image: url('images/bg-desktop.svg');
  color: white;
}
h1 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.02em;
}
p {
  font-family: 'Open Sans', sans-serif;
}
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  color: hsl(257, 40%, 49%);
  padding: 10px 70px 15px 70px;
  border-radius: 30px;
  background-color: white;
  border: none;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.5);
}
.mockups {
  float: left;
}
.main {
  width: 40%;
  float: right;
}
